$blue_dark: #0A0C10;
$blue_medium: #14181F;
$blue_light: #272A31;

$red_dark: #B31317;
$red_medium: #EA1D22;
$red_light: #F02A2F;

$white_dark: #E5E9EF;
$white_medium: #EDF1F7;
$white_light: #F4F7FB;

$grey_dark: #959698;
$grey_medium: #A1A3A5;
$grey_light: #B5B6B8;

